@media(max-width: 1870px){
nav > ul > li {padding: 20px 8px;}
nav ul li a {font-size: 17px;}
.dropdown-menu>li>a {font-size: 15px;}
.banner_text {top:50%; transform: translateY(-50%); left:20px; right: auto;}
.banner_text ul li {display: block; margin:0 0 20px 0;}
.banner_text ul li a{display: block; text-align: center;}
}

@media (max-width:1440px){
nav ul li a {font-size: 15px;}	
.dropdown-menu>li>a {font-size: 13px;}
}

@media (max-width:1366px){
.container4 {width: 100%; padding:0 20px;}
.header_inner {padding:15px 20px;}
.header_top_left {width:31%;}
.header_top_right ul li a {font-size: 18px;}
nav > ul > li {padding: 20px 5px;}
nav ul li a {font-size: 13px;}
/*.special img {height: 100%;}*/
.dropdown-menu>li>a {font-size: 13px;}	
.search_head_sec {width:230px;}
.special2 p, .special2 a {font-size: 20px;}
.architecture_left h4 {padding-left: 10px;}
.architecture_bottom {padding-left: 20px;}
.admission_process_about_section2 .about_sec2 h4,
 .placement_about_left .architecture_bottom h4, .about_sports_section2_bottom h4 {margin-left:16px;}
.admission_process_about_section2 .about_sec2 h4:before, .architecture_left h4:before, .about_sports_section2_bottom h4:before {
	top:-5px;
	left: -15px;
}
}
@media (max-width:1199px){
	.container {width: 100%; padding:0 20px;}
.mobile-menu {display: none;}
.cookcodesmenu_menu{display: block!important;background:#9f1c33;}
.header_top_left {width:auto; float: right; padding-bottom: 15px;}
.cookcodesmenu_brand {display: none;}
.cookcodesmenu_nav li a {font-size: 18px; text-transform: uppercase;}
.testi_slider, .program_sec_top {width:100%;}
.special2 h4 {font-size: 22px;}
.special2 p, .special2 a {font-size: 18px;}
.founder_bottom {margin-top: 0;}
.special2 p {padding-top:10px;}
}
@media (max-width:991px){
	.header_top {padding-bottom: 5px;}
	.header_top_right ul li a {padding:0 8px; font-size: 16px;}
	.header_top_left ul li a {font-size: 16px;}
	.banner_text {left:10px;}
	.social li a {padding: 0 5px!important;}
	.cookcodesmenu_nav li a {font-size: 16px;}
	.special img {width: 100%;}
	.special_flow {float: right;}
	.special_flow3 {float: left;}
	.program_sec a {font-size: 18px;}
	.program_sec_top ul li {width: 30%;}
	.banner_text ul li a {margin-right: 0; font-size: 12px; padding:5px 8px;}
	.banner_slider .slick-dots li button:before {width:15px; height: 15px;}
	.special2 p {font-size: 20px;}
	.founder_left img {margin:0 auto; height: 500px;}
	.vice_left img{height: auto;}
	.founder_right {margin-top: 20px;}
	.program_about ul li {width: 33%;}
	.univer_section2 {padding-top: 20px;}
	.about_section_right_pos {position: static; padding-right:15px;}
	.about_section_right {float: right;}
	.architecture_bottom {padding-bottom: 20px;}
	.advisory_right img {padding-top: 20px; margin:0 auto;}
	.architecture_right img {margin:0 auto;}
	.about_sports_right img {margin:0 auto;}
}
@media (max-width:767px){
	h4 {font-size: 25px!important}
	p {font-size: 18px!important;}
	.architecture_section1 h2 {padding-bottom: 20px;}
	.banner_text ul li a {padding:10px;}
	.special2 {padding:20px;}
	.header_inner {padding: 15px 10px;}
	.home_section2, .home_Section3, .home_Section4, footer {padding:25px 0px;}
	.home_Section4 h2:before , .home_Section3 h2:before{bottom: 10px;}
	.home_Section4 h2, .home_Section3 h2 {padding-bottom: 20px;}
	.header_top_right ul {float: none;}
	.social {float:right!important; padding-top:15px;}
	.home_Section3, footer {clip-path: inherit;}
	.program_sec_top ul li {width: 48%;}
	footer {padding-left: 20px; padding-top: 50px;}
	.footer_sec {padding-bottom: 20px;}
	.special2 p, .special2 a {padding-top: 10px; margin-bottom: 0;}
	.special img {max-height: 350px; object-fit: cover;}
	.home_section2 h2 {padding-bottom: 20px;}
	.testi_section h3, .special2 h4 {font-size: 20px;}
	.testi_section h4, .special2 p,  .special2 a {font-size: 16px;}
	.testi_section p {font-size: 16px; padding-top: 10px;}
	.about_section_right {padding-top:20px;}
	.founder_bottom h3 {font-size: 25px;}
	.founder_right p {padding:0;}
	.vision_section_left_bottom {
		position: static;
		    transform: inherit;
	}
	.vision_section_right {
		padding-top: 20px;
	}
	
	.program_about ul li {
		width: 49%;
	}
	
	.advisory_pad {padding-top: 20px;}
	.univer_section2_left h4 {text-align: center;}
	.recruiters_bottom ul li {width: 24%;}
	.product_all_sec {margin-bottom: 20px;}
	.padd_mesnory {padding:0 15px;}
	#cform {padding: 10px 15px;}
	.site_map_location iframe {height: 400px;}
}
@media (max-width:639px){
	.main{padding:30px 0px;}
	h2 {font-size: 30px!important; padding: 0 10px;}
	.logo a img {width:180px;}
	.search_head_sec {width:150px; margin-top: 10px;}
	.header_top_left ul li {padding-right: 10px;}
	.header_top_right ul li a, .header_top_left ul li a {font-size: 14px;}
	.social li a img {height: 20px;}
	.search_head_sec input {font-size: 14px;}
.accor_bottom ol li, .accor_bottom ul li {font-size: 18px;}
.accor_bottom ol, .accor_bottom ul {padding-left:10px;}
.accor_bottom {padding: 0;}
.admission_process_section1 a {
    position: static;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #fff;
    padding: 8px 12px;
    background: #9f1c33;
    border-radius: 15px;
    margin-top: 10px;
    display: inline-flex;
}
.architecture_bottom {
    padding-left: 10px;
}
.recruiters_bottom ul li {
    width: 32%;
}
.form_left, .form_right {width: 100%; float: none;}
.contact_section2 span {font-size: 20px;}
}

@media (max-width:479px){
	h3, h4 {font-size: 22px!important;}
	h2 {font-size: 24px!important;padding: 0 10px;}
	.founder_bottom h3 {font-size: 22px;}
	.program_sec_top ul li {width: 90%;}
.header_top_right ul li a, .header_top_left ul li a {font-size: 10px;}
.header_top_right ul li a {padding:0 4px;}
.header_top_left {padding-bottom: 0px;}
.social {padding-top: 5px;}
.logo a img {width:120px;}
	.search_head_sec {width:120px;}
	.banner_text {position: static; width:50%; margin:15px auto; transform: inherit;}
	.banner_slider .slick-dots {display: none!important;}
	.slick-dotted.slick-slider {margin-bottom: 0;}
	.banner_text ul li {margin-bottom: 10px;}
	.footer_sec ul li a {font-size: 16px;}
	.founder_left img {height: auto;}
	.program_about ul li {width:100%; margin-bottom: 20px;}
	.program_about ul li .program_about_bottom img {margin:0 auto;}
	.site_map_location iframe {height: 300px;}
}