/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

body{font-family: 'Source Sans Pro', sans-serif; font-size: 18px; color:#231f20;}
ul { padding-left: 0; margin-bottom: 0;}
h1,h2,h3,h4,h5,h6 {margin:0;}
.pull{float: right;}
a {color: #fff;}
.padd {padding:0;}
.mar{margin:0;}
.tab_sec {overflow-x: inherit;}
.container4 {width:1300px; margin:0 auto;}
a:hover, a, a:focus {text-decoration: none;}
header {width:100%; float: left;}
.header_inner {width:100%; float: left; padding:15px 35px;}
.header_top {width:100%; float: left; padding-bottom: 15px;}
.header_top_left {width:35%; float: left;}
.header_top_left ul  {float: left; list-style: none;}
.header_top_left ul li {float: left; padding-right: 20px;}
.header_top_left ul li i {padding-right: 8px; font-weight: 700;}
.header_top_left ul li a {font-size: 20px; font-weight: 600; color:#58595b;}
.header_top_right {float: right;}
.header_top_right ul {float: left; list-style: none;}
.header_top_right ul li {float: left;}
.header_top_right ul li a {font-size: 20px; font-weight: 600; display: inline-block; color:#58595b;
  padding:0 15px;  border-right:1px solid #58595b;}
  .header_top_right ul li:last-child a {border-right: 0;}
.social li {border-right:0!important;}
.social li a {padding:0 10px!important; border:0!important;}
.header_middle {width:100%; float: left;}
.logo {float: left;}
.search_head_sec {width:276px;float: right; position: relative; margin-top:20px;}
.search_head_sec input {width: 100%;padding:0 5px;height: 31px;border: 1px solid #58595b;
border-radius: 12px;}
.search_head_sec:hover input{outline: none;}
.search_head_sec button {float: right;padding: 6px 10px;margin-right: 16px;background: transparent;
font-size: 18px;border: none;cursor: pointer;height: 31px;position: absolute;right: -15px;
top: -1px;}
.search_head_sec button i {position: relative;top:-2px;}
.search_head_sec button:hover {outline: none;}
.cookcodesmenu_menu{display: none!important;}
.mobile-menu {display: block;}
nav {width:100%;float: left; background: #9f1c33; margin-top:0px; 
 -webkit-transition: all 0.5s ease;
  -o-transition: position 10s;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  z-index: 99;
}
@-webkit-keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
nav > ul {text-align: center;}
nav > ul > li {display: inline-block; vertical-align: middle; padding:20px 16px;}
nav ul li a {font-size: 20px; color: #fff; font-weight: 600;}
nav > ul > li> a {position: relative;}
nav > ul a:before,
nav > ul  a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

nav > ul a:before {
  bottom: -8px;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #fff;
}
nav > ul a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
nav > ul a:hover:before,
nav > ul  a.current:before {
  opacity: 1;
  width: 100%;
}
nav > ul a:hover:after,
nav > ul  a.current:after {
  max-width: 100%;
}
nav .dropdown-menu a:before {
  background: transparent;
}
nav ul li a:hover {color:#fff;}
.dropdown-toggle:focus {color: #fff;}
nav .dropdown-menu {background: #76797c; padding: 0;}
nav .dropdown-menu li {border-bottom:1px solid #d2d4d7;}
nav .dropdown-menu li a {color: #fff; text-transform: uppercase; padding:10px 10px;}
.dropdown-menu>li>a {font-size: 18px;}

/*submenu start*/
.dropdown-submenu{ position: relative; }
.dropdown-submenu>.dropdown-menu{
  top:5px;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu.pull-left{ float: none; }
.dropdown-submenu.pull-left>.dropdown-menu{
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-submenu .caret {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
/*submenu start*/

.banner {width:100%; float: left;}
.banner_section {width: 100%; position: relative;}
.banner_text {position: absolute; top: 40%; -webkit-transform: translateY(-40%); -ms-transform: translateY(-40%); transform: translateY(-40%); right:10%;
  z-index: 333;}
.banner_text ul li {display: inline-block;vertical-align: top;}
.banner_text ul li a {font-size: 16px; color:#58595b; font-weight: 700; 
padding:15px; border:1px solid #9f1c33; border-radius:15px; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
text-transform: uppercase; margin-right:15px;}
.banner_text ul li a:hover {background: #9f1c33; color: #fff;}
.banner_slider .slick-dots {
    bottom: 0;
}
.banner_slider .slick-dots li {
    bottom:30px;
    margin: 0 5px;
}
.banner_slider .slick-dots li button {
    position: absolute;
    bottom: -16px;
}
.banner_slider .slick-dots li button:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #9f1c33;
    border-radius: 50%;
    opacity: 1;
}
.banner_slider .slick-dots li.slick-active button:before {
    background: #fff;
}
.main {width:100%; float: left; padding:50px 0px;}
.home_section1 {width: 100%; float: left; position: relative;}
.para_section {
  position: absolute;
  right:3%;
  top:10%;
  width: 35%;
}

.para_bottom_first {
  position: relative;
}
.para_bottom_first:before {
content:"";
position: absolute;;
right:-30px;
top:0;
background: #231f20;  
width: 2px;
height: 140px;
}
.para_section_bottom2 {
  margin-bottom: 50px;
}
.para_bottom_center {text-align: center;}
.para_bottom_first:after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    background: #231f20;
    width: 292px;
    height: 2px;
}
.para_bottom_second, .para_bottom_third, .para_bottom_first_first {
  position: relative;
}
.para_bottom_first_first:before {
  height: 180px;
}
.para_bottom_third:before {
content:"";
position: absolute;;
right:-30px;
top:0;
background: #231f20;  
width: 2px;
height: 140px;
}
.para_bottom_second:after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 40px;
    background: #231f20;
    width: 260px;
    height: 2px;
}
.para_bottom h4 {
  font-size: 75px;
  color: #231f20;
  font-weight: 700;
}
.para_bottom p {
  font-size: 30px;
  color: #231f20;
  font-weight: 600;
}
.home_section1{
    width: 100%;
    position: relative;
}
.home_section2 {width:100%; float: left; padding:50px 0;}
.home_section2 h2 {font-size: 35px; color: #9f1c33; font-weight: 700;
text-align: center; padding-bottom: 50px;}
.special {overflow: hidden; }
.special img {-webkit-transition: -webkit-transform .2s;transition: -webkit-transform .2s;-o-transition: transform .2s;transition: transform .2s;transition: transform .2s, -webkit-transform .2s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.special:hover img { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2);}
.special2 {background:#e3e4e5; padding: 10% 10% 0 10%;}
.special2 h4 {font-size: 25px; color: #9f1c33; font-weight: 700;}
.special2 a {font-size: 20px; color: #9f1c33; font-weight: 700; padding-top: 20px; 
  display: block;}
.special2 p {font-size: 22px; color: #58595b; font-weight: 400; padding-top: 20px; 
  display: block;}
.home_Section3 {width:100%; float: left; background:#b2b4b6; padding: 50px 0 90px 0px;
-webkit-clip-path: polygon(38% 0, 100% 6%, 100% 95%, 66% 100%, 0 93%, 0 5%);
        clip-path: polygon(38% 0, 100% 6%, 100% 95%, 66% 100%, 0 93%, 0 5%);}
.home_Section3 h2 {
  font-size: 35px;
    color: #231f20;
    font-weight: 700;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: inline-block;
}
.home_Section3 h2:before {
position: absolute;
    content: '';
    background: #231f20;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 40px;
}
.program_sec_top {width:1170px; margin:0 auto;}
.program_sec_top ul {text-align: center;}
.program_sec_top ul li {display: inline-block; vertical-align: top; width:32%;}
.program_sec {background: #fff;border-radius: 15px;overflow: hidden;margin:15px 12px;
 border: 2px solid #fff;}
 .program_sec img {-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.program_sec:hover img {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.program_sec a {font-size: 22px; color: #9f1c33; font-weight: 700; padding:22px 5px; 
display: block;}
.home_Section4 {width:100%; float: left; padding:50px 0px;}
.special_flow2 {float: right;}
.home_Section4 h2 {
  font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: inline-block;
}
.home_Section4 h2:before {
position: absolute;
    content: '';
    background: #9f1c33;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 40px;
}
.slick-slide {outline: none;}
.testi_slider {width:1170px; margin:0 auto;}
.testi_section {padding:20px; text-align: center; }
.testi_section img {margin:0 auto;}
.testi_section h3 {font-size: 25px; color:#9f1c33; font-weight: 700;
 padding-top: 10px;}
.testi_section h4 {font-size: 18px; color:#9f1c33; font-weight: 700; 
  padding-top: 10px; text-transform: uppercase;}
.testi_section p {font-size: 18px; color:#58595b; font-weight: 400; padding-top: 20px;}
footer {width: 100%; float: left; padding:90px 0 50px 0px; background: #636466;
-webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 22%, 100% 100%, 0% 100%);}
footer h4 {font-size: 18px; color: #ffffff; font-weight: 700;
 text-transform: uppercase; padding-bottom: 20px;}
.footer_sec ul {list-style: none;}
.footer_sec ul li a {font-size: 18px; color: #ffffff; font-weight: 300;
padding-bottom: 10px; display: block;}
.footer_sec ul li a:hover {color: #fff;}
.social_link li {float: left; padding:0 5px;}

/*about university section start*/

.about_section1 {width:100%; float: left; position: relative;}
.about_section_left h2 {font-size:35px; color: #9f1c33; font-weight: 700; text-transform: 
uppercase; padding-bottom: 20px;}
.about_section_left p {font-size:20px; color: #231f20; font-weight: 400; 
 text-align:justify; padding-bottom:0px;}
.about_section_right_pos {
  position: absolute;
  top:60px;
  right:0px;
  padding-right: 0;
}

/*vison section start*/
.vision_section_left {position:relative;}
.vision_section_left_bottom {
     position: absolute;
    top: 45%;
    -webkit-transform: translateY(-45%);
        -ms-transform: translateY(-45%);
            transform: translateY(-45%);
}
.vision_section_left_bottom h4 {
  font-size: 30px;
  color: #9f1c33;
  font-weight: 700;
  padding-bottom: 15px;
}
.vision_section_left_bottom p {
  font-size:20px;
  color: #231f20;
  font-weight: 400;
}
.vision_section_left_bottom ul {
  list-style: none;
}
.vision_section_left_bottom ul li {
    position: relative;
   font-size:20px;
  color: #231f20;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 20px;
}
.vision_section_left_bottom ul li:before{
      content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 10px;
    background: #6d6e71;
    border-radius: 50%;
}

/*core values start css*/
.core_values h2 {font-size:35px; color: #9f1c33; font-weight: 700; text-transform: 
uppercase; padding-bottom: 20px; text-align: center;}
.core_values p {text-align: justify; color: #231f20; font-size: 20px; font-weight: 400;
padding-bottom: 10px;}

/*about program page start*/
.about_program_section1 h2 {
  font-size:35px; color: #9f1c33; font-weight: 700; text-transform: 
uppercase; padding-bottom: 20px; text-align: center;
}
.program_about {
  padding-top: 20px;
}
.program_about ul{
  text-align: center;
}
.program_about ul li {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin-bottom: 40px;
}
.program_about_bottom {
  text-align: center;
}
.program_about_bottom a {
  display: block;
  font-size: 20px;
  color: #231f20;
  font-weight: 700;
  text-transform: uppercase;
}

/*founder css start*/
.founder_bottom {
  background: #6d6e71;
  padding:20px 20px 20px 20px;
  border-radius: 15px;
  margin:50px 0 25px;
}
.founder_bottom h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.founder_bottom span {
 font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600; 
  padding-top:5px;
  display: block;
  text-align: center;
}
.founder_right p {
  font-size: 20px;
  color: #231f20;
  text-align: justify;
  font-weight: 400;
  padding: 15px;
}
/*ethics page css start*/
.ethics_accor .panel-default:first-child {
  margin-top: 0;
} 
.ethics_accor .panel-default {
    margin-top: 5px;
}
.ethics_accor .panel-default>.panel-heading {
  background: #939598;
  cursor: pointer;

}
.ethics_accor .panel-title a {
  font-size: 20px;
  font-weight: 600;
color: #fff;
}

.ethics_accor .pull-right {
      float: right!important;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.accor_bottom {
  padding: 0 10px;
}
.accor_bottom p{
font-size: 20px;
color: #231f20;
}
.accor_bottom ol, .accor_bottom ul {
  padding-left: 20px;
  padding-top: 10px;
}

.accor_bottom ol li , .accor_bottom ul li {
  font-size: 20px;
color: #231f20;
padding-bottom: 15px;
}

/*advisory css start*/
.advisory_pad {
  padding-top: 50px;
}
.advisory h2 {
  font-size:35px; color: #9f1c33; font-weight: 700; text-transform: 
uppercase; padding-bottom:10px; text-align: center;
}
.advisory p {text-align: center;}
.advisory_left h4 {color: #9f1c33; font-size: 30px; font-weight: 700; 
padding-bottom:10px; text-transform: uppercase;}
.advisory_left p {font-size: 20px; text-align: justify; }.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

/*vice section start*/
.vice_section1 {padding-top:50px;}
.vice_section1 h4 {
  position: relative;
    font-size: 25px;
    color: #ffffff;
    background: #58595b;
    padding: 40px 50px;
    text-align: center;
    box-shadow: 0 5px 7px 0 #58595b;
        border-radius: 15px;
        margin-bottom: 40px;
}
.vice_section1 h4:before {
  content: "";
    position: absolute;
    left: 20px;
    top: 13px;
    background: url(../images/about/invert_left.png) no-repeat;
    width: 52px;
    height: 46px;
}
.vice_section1 h4:after {
      content: "";
    position: absolute;
    right: 160px;
    bottom: 15px;
    background: url(../images/about/invert_right.png) no-repeat;
    width: 52px;
    height: 46px;
}
/*vice section end*/

/*university regulations css start*/
.univer_section_main {padding:50px 0px;}
.univer_section1 h2 {
  font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}
.univer_section1 p {
  font-size: 20px;
  color: #231f20;
  text-align: center;
  padding-bottom: 10px;
}
.univer_section2 {width:100%; float: left; padding-top: 50px;}
.univer_section2_left h4 {
 font-size: 30px;
    color: #9f1c33;
    font-weight: 700;
    padding-bottom: 20px; 
}
.univer_section2_left ol {
  padding-left: 20px;
}
.univer_section2_left ol {
  padding-bottom: 20px;
}
.univer_section2_left ol  li {
  font-size: 20px;
  color: #231f20;
  padding-bottom: 15px;
}
/*university regulations css end*/

/*commites css start*/
.univer_section1 table {
  width:1000px;
  margin:20px auto;

}
.univer_section1 table thead tr {
  background: #939598;
}
.univer_section1 table thead tr th {
  text-align: left;
  background: #939598;
  color: #fff;
  font-weight: 700; 
  padding: 15px 0px;
  border-right: 1px solid #58595C;
  padding-left:20px;

}
.univer_section1 table tbody tr td {
  text-align: left;
    background: #cccccc;
    color: #231f20; 
    font-weight: 600;
    padding: 15px 0px;
        border-right: 1px solid #58595C;
         padding-left:20px;
}
.univer_section1 table thead th:last-child {
  border-right:0;
}
.univer_section1 table tbody tr td:last-child {
  border-right:0;
}
/*commites css end*/

/*administration css start*/
.univer_section2_left ul {
  padding-left: 20px;
}
.univer_section2_left ul {
  padding-bottom: 20px;
}
.univer_section2_left ul  li {
  font-size: 20px;
  color: #231f20;
  padding-bottom: 15px;
}
/*administration css end*/

/*school page start*/
/*architecture page css start*/
.architecture_section1 {padding-bottom: 50px;}
.architecture_section1 h2 {
  font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    padding-bottom:40px;
    text-transform: uppercase;
}
.architecture_left h4 {
  position: relative;
  font-size: 25px;
  color: #231f20;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.architecture_left h4:before {
     content: "";
    position: absolute;
    top: 0px;
    left: -25px;
    background-color: #9f1c33;
    border-radius: 12px;
    width: 7px;
    height:35px;
}
.architecture_left p {
  font-size: 18px;
   color: #231f20;
  font-weight: 400;
  text-align: justify;
}
.architecture_left:last-child p {
  padding-bottom: 20px;
}
.architecture_section2, .architecture_section4 {
  width: 100%;
  float: left;
}
.architecture_bottom {
  padding-bottom: 40px;
}
.architecture_bottom p {
  padding-bottom: 0!important;
}
.architecture_bottom a {
  color: #ffffff;
  font-size: 20px;
  background: #58595b;
  padding:15px 20px;
  margin-top: 15px;
  display: inline-block;
  border-radius: 15px;
  font-weight: 700;
}
.architecture_bottom ul, .architecture_bottom ol {
  padding-left: 20px;
}
.architecture_bottom ul li, .architecture_bottom ol li {
  font-size: 18px;
   color: #231f20;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 10px;
}
.architecture_right {padding-bottom: 30px;}
.architecture_section3 {width:100%; float: left;}
/*architecture page css start*/
/*school page end*/

/*plagiarism_policy start css */
.plagiarism_policy h2 {
  text-align: center;
  text-transform: uppercase;
}
.plagiarism_policy_left .architecture_bottom h4 {
  color: #9f1c33;
}
/*plagiarism_policy start css */

/*recruiters css start */
.recruiters_section1 h2 {
    font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
    }
.recruiters_bottom ul {list-style: none; text-align: center;}
.recruiters_bottom ul li {
display: inline-block; 
vertical-align: top;
width: 19%;
}
/*recruiters css end */

/*placement about css start*/

.placement_about_section1 h2{
  text-align: left;
}
.placement_about p{
font-size: 18px;
    color: #231f20;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 20px;
    }
    .placement_about strong {
      text-transform: uppercase;
    }
  .placement_about_section2 {
    width:100%;
    float: left;
    padding-top: 50px;
  }
  .placement_about_left .architecture_bottom h4{
color: #9f1c33;
  }
  
/*placement about css end*/

.transportation_section1 h2 {
  padding-bottom: 20px;
}
.transportation_sec_bottom p {
  font-size: 18px;
   color: #231f20;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}
.transportation_sec_bottom h2 span {text-transform: lowercase;}
.transportation_sec_bottom img {
  padding: 20px 0px;
}
.vision_sec_padd {margin-bottom: 30px;}
.architecture_bottom table thead tr th {
 font-size: 14px;
 font-weight: 700;
 background: #6d6e71;
 color: #fff;
 border:1px solid #636363;
}

.architecture_bottom table tbody tr td {
 font-size: 14px;
 font-weight: 700;
 border:1px solid #636363;
}

/*admission pages start */
.admission_process_section1 {
  position: relative;
}
.admission_process_section1 a {
position: absolute;
top:-10px;
right:0;
font-size: 20px;
color: #fff;
padding:10px 15px;
background: #9f1c33;
border-radius: 15px;
}
.admission_process_section1 h2 {
  text-align: left;
  padding-bottom:0;
}
.admission_process_section1 p {
  padding-top: 20px;
  text-align: left;
}
.admission_process_about_section2 {width:100%; float: left; padding-top: 30px;}
.admission_process_about_section2 .about_sec2 {
padding-bottom: 40px;
}
.admission_process_about_section2 .about_sec2 h4 {
  position: relative;
    font-size: 25px;
    color: #231f20;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.admission_process_about_section2 .about_sec2 h4:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -25px;
    background-color: #9f1c33;
    border-radius: 12px;
    width: 7px;
    height:35px;
}

.admission_process_about_section2 .about_sec2 p {
    font-size: 18px;
    color: #231f20;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 10px;
}
.admission_process_about_section2 .about_sec2 p a {
  color: #2e3192;
}
/*admission pages end*/

/*courses section start*/
.coures_section1 {width:100%; float: left;}
.coures_section1 h2 {
  font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}
/*courses section end*/

/*sports section strat*/
.about_sports_section1 {width:100%; float: left;}
.about_sports_section1 h2 {
font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    padding-bottom:20px;
    text-transform: uppercase;
}
.about_sports_section1 p {
  font-size: 20px;
    color: #231f20;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 10px;
}
.about_sports_section2 {width: 100%; float: left;}
.about_sports_section3 {width: 100%; float: left;}
.about_sports_section2_bottom {padding-bottom: 20px;}
.about_sports_section2_bottom h4 {
  font-size: 25px;
  color: #9f1c33;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
}
.about_sports_section2_bottom h4:before {
  content: "";
  position: absolute;
  top:0;
  left: -25px;
    background-color: #9f1c33;
    border-radius: 12px;
    width: 7px;
    height: 35px;
}
.about_sports_section2_bottom p {
  font-size: 20px;
    color: #231f20;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 10px;
  }
    .about_sports_section2_bottom strong {
      text-transform: uppercase;
    color: #231f20;
    text-align: justify;
    padding-bottom: 10px;
    }
.facilities_sec_all p {
  font-size: 20px;
  font-weight: 700; 
  text-align: center;
}
/*sports section end*/

/*facilites page start css*/
.padd_mesnory {padding:0 6px;}
.facilities_sec_all {padding-top:20px;}
.mes {width:100%; float: left; padding-top:40px;}
.product_all_sec {
  margin-bottom: 40px;
}
.product_all_sec p {
  font-size: 20px;
  color: #9f1c33;
  text-transform: uppercase;
  font-weight: 700;
}
.product_inn {margin-bottom: 10px;}
.product_inn {
    width: 100%;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    margin:  0 0 12px 0;
}

.product_inn a {
  display: block;
}
  .product_inn a:hover .overlay {
    opacity: 1;
}

.product_inn .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(159,28,51,0.5);
    border-radius:7px;

}

.product_inn .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.product_inn .overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
   width: auto;
   color:#fff;
}

.product_inn img {
    width: 100%;
    text-align: center;
  overflow:hidden;

}

/*facilites page end css*/

/*contact us page css start */
.sitemap_section1 {width:100%; float: left;}
.sitemap_section1 h2 {
  font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
}

.contact_section1 {width:100%; float: left;}
.contact_section1 h2 {
  font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom:10px;
    text-align: center;
  }
  .contact_section1 p{
    font-size: 20px;
    text-align: center;
  }
#cform {width:100%; float: left;width: 100%;float: left;background: #dedede;padding:20px 30px;border-radius: 10px;}
.all_form {width:100%; float: left;}
.form_left {width:48%; float: left;}
.form_right {width:48%; float:right;}
.form-group {width: 100%;float: left;}
.form_left .form-group label, #cform .form-group label {font-size:18px; color: #58595b; font-weight: 400; padding-bottom: 5px;}
.form_left .form-group input {font-size:18px; background: #efefef; color: #58595b; font-weight: 400;}
#cform .form-group textarea {font-size:18px; background: #efefef; height: 200px;}
#cform .form-group button {font-size:20px; color:#fff; background:#9f1c33; border:0; font-weight: 600; 
padding:10px 15px; border-radius: 12px; margin:30px auto 0 auto; display: block;}
.contact_section2 {width: 100%; float: left; padding-top:40px;}
.contact_section2 h2 {
  font-size: 35px;
    color: #9f1c33;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom:10px;
    text-align: center;
  }
  .contact_section2 p{
    font-size: 20px;
    text-align: center;
    color: #58595b;
  }
  .contact_section2 span{
    font-size: 25px;
    font-weight: 700;
    color: #58595b;
    text-align: center;
    display: block;
    padding-bottom: 15px; 
  }
  .address_sec_bottom ul {text-align: center; list-style: none; padding-top:10px;}
  .address_sec_bottom ul li {display: block; vertical-align: top; padding-bottom: 10px;}
    .address_sec_bottom ul li i {padding-right: 5px; color:#9f1c33; font-weight: 700;}
  .address_sec_bottom ul li a{font-size: 20px; color: #58595b;}
/*contact us page css end */

/*feedback_form_area*/

.feedback-form
{
  position:fixed;
  top:30%;
  right:0;
  z-index:100;
  min-height:450px; 
}
.feedback-form-show
{
  right:0 !important;
}

.feedback_form_area
{

  position:relative;
  display:none;
   overflow: hidden;
   background:rgba(0,0,0,0.8);
}

.feedback_form_area_inner{
    width:300px;
  min-height:450px;
  color:#fff;
  padding:15px;
}

.feedback_form_area h3{
  margin-top:0;
}
    
.custom-inp
{
  width:100%;
  height:35px;
  padding-left:5px;
  color:#fff;
  border:1px #fff solid;
  background:transparent;
}
    
.custom-inp-txt
{
  width:100%;
  height:80px;
  padding:5px;
  color:#fff;
  border:1px #fff solid;
  background:transparent;
}

.feedback-form-btn
{
  background: #9f1c33; 
  width: 204px;
   color: #fff;
  position: absolute;
    left: -131px;
    color: #fff;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 40%;
  border-radius:4px;
  padding: 0;
  border: 0;
}
.feedback-form-btn img {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    left: 10px;
    top: -2px;
}
.feedback-form-btn:hover, .feedback-form-btn:focus, .feedback-form-btn.focus, 
.btn_submit:hover, .btn_submit:focus {
  color: #fff;
}
.feedback_form_area_inner .form-group input{
  height: 30px;
}
.feedback_form_area_inner .form-group select {
  width:100%;
  background: transparent;
  height: 30px;
}
.feedback_form_area_inner .form-group select option {
  background: transparent;
  background-color: transparent;
       background-color: rgba(0,0,0,0.8);
}
.btn_submit {
  background: #9f1c33; 
   color: #fff;
}
.trans_slider .slick-slide img {margin:0 auto; display: block;}